/* about.css */

/* Estilos para la sección Sobre mí */
#about {
    padding: 50px 20px;
}

.about-card {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s;
}

.about-card:hover {
    transform: translateY(-5px);
}

.profile-picture {
    margin: 20px;
    border: 5px solid #007bff;
    border-radius: 50%;
    background-color: #f3f3f5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-description {
    color: #212529;
}

.about-description p {
    line-height: 1.6;
    margin: 10px 0;
}
