/* Estilos para la sección Sobre mí */
#about {
    padding: 50px 20px;
    /* Espaciado superior e inferior */
}

.about-card {
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    /* Sombra para profundidad */
    background-color: #ffffff;
    /* Fondo blanco */
    transition: transform 0.3s;
    /* Efecto al pasar el mouse */
}

.about-card:hover {
    transform: translateY(-5px);
    /* Elevación al pasar el mouse */
}

 /* Asegurar el ajuste de la imagen */
 .about-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card {
    overflow: hidden;
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 1.5rem;
}

@media (min-width: 768px) {
    .about-image {
        height: 100%; /* Mantiene proporción en pantallas medianas/grandes */
    }
}
