body {
    transition: background-color 0.3s, color 0.3s;
}

/* Tema claro */
body.light {
    background-color: #f8f9fa;
    color: #212529;
}

/* Tema oscuro */
body.dark {
    background-color: #343a40;
    color: #f8f9fa;
}


.navbar {
    background-color: #222;
    padding: 1rem;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

i {
    color: #0d6efd;
}


.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    margin-right: auto;
}

#navbarNav {
    flex-grow: 1;
}

#navbarNav .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

button.btn-secondary {
    margin-left: auto;
}

.botonnav {
    height: auto;
    margin: 5px;
}

.botonnav i {
    color:  #fff;
}

.profile-picture {
    margin: 10px;
    display: inline-block;
    border: 5px solid #f8f9fa; /* Color del borde */
    border-radius: 50%; /* Para hacer la imagen redonda */
    padding: 5px; /* Espacio entre el borde y la imagen */
    background-color: #343a40; /* Color de fondo del marco */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}
